Solution.API/obj/
Solution.API/bin/
Solution.BS/bin/Debug/netcoreapp3.1/Solution.BS.deps.json
Solution.BS/bin/Debug/netcoreapp3.1/Solution.BS.dll
Solution.BS/bin/Debug/netcoreapp3.1/Solution.BS.pdb
Solution.BS/bin/Debug/netcoreapp3.1/Solution.BS.runtimeconfig.dev.json
Solution.BS/bin/Debug/netcoreapp3.1/Solution.BS.runtimeconfig.json
Solution.BS/bin/Debug/netcoreapp3.1/Solution.DAL.dll
Solution.BS/bin/Debug/netcoreapp3.1/Solution.DAL.EF.dll
Solution.BS/bin/Debug/netcoreapp3.1/Solution.DAL.EF.pdb
Solution.BS/bin/Debug/netcoreapp3.1/Solution.DAL.pdb
Solution.BS/bin/Debug/netcoreapp3.1/Solution.DAL.Repository.dll
Solution.BS/bin/Debug/netcoreapp3.1/Solution.DAL.Repository.pdb
Solution.BS/bin/Debug/netcoreapp3.1/Solution.DO.dll
Solution.BS/bin/Debug/netcoreapp3.1/Solution.DO.pdb
Solution.BS/obj/project.assets.json
Solution.BS/obj/project.nuget.cache
Solution.BS/obj/Solution.BS.csproj.nuget.dgspec.json
Solution.BS/obj/Solution.BS.csproj.nuget.g.props
Solution.BS/obj/Solution.BS.csproj.nuget.g.targets
Solution.BS/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Solution.BS/obj/Debug/netcoreapp3.1/Solution.BS.AssemblyInfo.cs
Solution.BS/obj/Debug/netcoreapp3.1/Solution.BS.AssemblyInfoInputs.cache
Solution.BS/obj/Debug/netcoreapp3.1/Solution.BS.assets.cache
Solution.BS/obj/Debug/netcoreapp3.1/Solution.BS.csproj.CopyComplete
Solution.BS/obj/Debug/netcoreapp3.1/Solution.BS.csproj.CoreCompileInputs.cache
Solution.BS/obj/Debug/netcoreapp3.1/Solution.BS.csproj.FileListAbsolute.txt
Solution.BS/obj/Debug/netcoreapp3.1/Solution.BS.csprojAssemblyReference.cache
Solution.BS/obj/Debug/netcoreapp3.1/Solution.BS.dll
Solution.BS/obj/Debug/netcoreapp3.1/Solution.BS.genruntimeconfig.cache
Solution.BS/obj/Debug/netcoreapp3.1/Solution.BS.pdb
Solution.DAL.EF/bin/Debug/netcoreapp3.1/Solution.DAL.EF.deps.json
Solution.DAL.EF/bin/Debug/netcoreapp3.1/Solution.DAL.EF.dll
Solution.DAL.EF/bin/Debug/netcoreapp3.1/Solution.DAL.EF.pdb
Solution.DAL.EF/bin/Debug/netcoreapp3.1/Solution.DAL.EF.runtimeconfig.dev.json
Solution.DAL.EF/bin/Debug/netcoreapp3.1/Solution.DAL.EF.runtimeconfig.json
Solution.DAL.EF/bin/Debug/netcoreapp3.1/Solution.DO.dll
Solution.DAL.EF/bin/Debug/netcoreapp3.1/Solution.DO.pdb
Solution.DAL.EF/obj/project.assets.json
Solution.DAL.EF/obj/project.nuget.cache
Solution.DAL.EF/obj/Solution.DAL.EF.csproj.nuget.dgspec.json
Solution.DAL.EF/obj/Solution.DAL.EF.csproj.nuget.g.props
Solution.DAL.EF/obj/Solution.DAL.EF.csproj.nuget.g.targets
Solution.DAL.EF/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Solution.DAL.EF/obj/Debug/netcoreapp3.1/Solution.DAL.EF.AssemblyInfo.cs
Solution.DAL.EF/obj/Debug/netcoreapp3.1/Solution.DAL.EF.AssemblyInfoInputs.cache
Solution.DAL.EF/obj/Debug/netcoreapp3.1/Solution.DAL.EF.assets.cache
Solution.DAL.EF/obj/Debug/netcoreapp3.1/Solution.DAL.EF.csproj.CopyComplete
Solution.DAL.EF/obj/Debug/netcoreapp3.1/Solution.DAL.EF.csproj.CoreCompileInputs.cache
Solution.DAL.EF/obj/Debug/netcoreapp3.1/Solution.DAL.EF.csproj.FileListAbsolute.txt
Solution.DAL.EF/obj/Debug/netcoreapp3.1/Solution.DAL.EF.csprojAssemblyReference.cache
Solution.DAL.EF/obj/Debug/netcoreapp3.1/Solution.DAL.EF.dll
Solution.DAL.EF/obj/Debug/netcoreapp3.1/Solution.DAL.EF.genruntimeconfig.cache
Solution.DAL.EF/obj/Debug/netcoreapp3.1/Solution.DAL.EF.pdb
Solution.DAL.Repository/bin/Debug/netcoreapp3.1/Solution.DAL.EF.dll
Solution.DAL.Repository/bin/Debug/netcoreapp3.1/Solution.DAL.EF.pdb
Solution.DAL.Repository/bin/Debug/netcoreapp3.1/Solution.DAL.Repository.deps.json
Solution.DAL.Repository/bin/Debug/netcoreapp3.1/Solution.DAL.Repository.dll
Solution.DAL.Repository/bin/Debug/netcoreapp3.1/Solution.DAL.Repository.pdb
Solution.DAL.Repository/bin/Debug/netcoreapp3.1/Solution.DAL.Repository.runtimeconfig.dev.json
Solution.DAL.Repository/bin/Debug/netcoreapp3.1/Solution.DAL.Repository.runtimeconfig.json
Solution.DAL.Repository/bin/Debug/netcoreapp3.1/Solution.DO.dll
Solution.DAL.Repository/bin/Debug/netcoreapp3.1/Solution.DO.pdb
Solution.DAL.Repository/obj/project.assets.json
Solution.DAL.Repository/obj/project.nuget.cache
Solution.DAL.Repository/obj/Solution.DAL.Repository.csproj.nuget.dgspec.json
Solution.DAL.Repository/obj/Solution.DAL.Repository.csproj.nuget.g.props
Solution.DAL.Repository/obj/Solution.DAL.Repository.csproj.nuget.g.targets
Solution.DAL.Repository/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Solution.DAL.Repository/obj/Debug/netcoreapp3.1/Solution.DAL.Repository.AssemblyInfo.cs
Solution.DAL.Repository/obj/Debug/netcoreapp3.1/Solution.DAL.Repository.AssemblyInfoInputs.cache
Solution.DAL.Repository/obj/Debug/netcoreapp3.1/Solution.DAL.Repository.assets.cache
Solution.DAL.Repository/obj/Debug/netcoreapp3.1/Solution.DAL.Repository.csproj.CopyComplete
Solution.DAL.Repository/obj/Debug/netcoreapp3.1/Solution.DAL.Repository.csproj.CoreCompileInputs.cache
Solution.DAL.Repository/obj/Debug/netcoreapp3.1/Solution.DAL.Repository.csproj.FileListAbsolute.txt
Solution.DAL.Repository/obj/Debug/netcoreapp3.1/Solution.DAL.Repository.csprojAssemblyReference.cache
Solution.DAL.Repository/obj/Debug/netcoreapp3.1/Solution.DAL.Repository.dll
Solution.DAL.Repository/obj/Debug/netcoreapp3.1/Solution.DAL.Repository.genruntimeconfig.cache
Solution.DAL.Repository/obj/Debug/netcoreapp3.1/Solution.DAL.Repository.pdb
Solution.DAL/bin/Debug/netcoreapp3.1/Solution.DAL.deps.json
Solution.DAL/bin/Debug/netcoreapp3.1/Solution.DAL.dll
Solution.DAL/bin/Debug/netcoreapp3.1/Solution.DAL.EF.dll
Solution.DAL/bin/Debug/netcoreapp3.1/Solution.DAL.EF.pdb
Solution.DAL/bin/Debug/netcoreapp3.1/Solution.DAL.pdb
Solution.DAL/bin/Debug/netcoreapp3.1/Solution.DAL.Repository.dll
Solution.DAL/bin/Debug/netcoreapp3.1/Solution.DAL.Repository.pdb
Solution.DAL/bin/Debug/netcoreapp3.1/Solution.DAL.runtimeconfig.dev.json
Solution.DAL/bin/Debug/netcoreapp3.1/Solution.DAL.runtimeconfig.json
Solution.DAL/bin/Debug/netcoreapp3.1/Solution.DO.dll
Solution.DAL/bin/Debug/netcoreapp3.1/Solution.DO.pdb
Solution.DAL/obj/project.assets.json
Solution.DAL/obj/project.nuget.cache
Solution.DAL/obj/Solution.DAL.csproj.nuget.dgspec.json
Solution.DAL/obj/Solution.DAL.csproj.nuget.g.props
Solution.DAL/obj/Solution.DAL.csproj.nuget.g.targets
Solution.DAL/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Solution.DAL/obj/Debug/netcoreapp3.1/Solution.DAL.AssemblyInfo.cs
Solution.DAL/obj/Debug/netcoreapp3.1/Solution.DAL.AssemblyInfoInputs.cache
Solution.DAL/obj/Debug/netcoreapp3.1/Solution.DAL.assets.cache
Solution.DAL/obj/Debug/netcoreapp3.1/Solution.DAL.csproj.CopyComplete
Solution.DAL/obj/Debug/netcoreapp3.1/Solution.DAL.csproj.CoreCompileInputs.cache
Solution.DAL/obj/Debug/netcoreapp3.1/Solution.DAL.csproj.FileListAbsolute.txt
Solution.DAL/obj/Debug/netcoreapp3.1/Solution.DAL.csprojAssemblyReference.cache
Solution.DAL/obj/Debug/netcoreapp3.1/Solution.DAL.dll
Solution.DAL/obj/Debug/netcoreapp3.1/Solution.DAL.genruntimeconfig.cache
Solution.DAL/obj/Debug/netcoreapp3.1/Solution.DAL.pdb
Solution.DO/bin/Debug/netcoreapp3.1/Solution.DO.deps.json
Solution.DO/bin/Debug/netcoreapp3.1/Solution.DO.dll
Solution.DO/bin/Debug/netcoreapp3.1/Solution.DO.pdb
Solution.DO/obj/project.assets.json
Solution.DO/obj/project.nuget.cache
Solution.DO/obj/Solution.DO.csproj.nuget.dgspec.json
Solution.DO/obj/Solution.DO.csproj.nuget.g.props
Solution.DO/obj/Solution.DO.csproj.nuget.g.targets
Solution.DO/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Solution.DO/obj/Debug/netcoreapp3.1/Solution.DO.AssemblyInfo.cs
Solution.DO/obj/Debug/netcoreapp3.1/Solution.DO.AssemblyInfoInputs.cache
Solution.DO/obj/Debug/netcoreapp3.1/Solution.DO.assets.cache
Solution.DO/obj/Debug/netcoreapp3.1/Solution.DO.csproj.CoreCompileInputs.cache
Solution.DO/obj/Debug/netcoreapp3.1/Solution.DO.csproj.FileListAbsolute.txt
Solution.DO/obj/Debug/netcoreapp3.1/Solution.DO.dll
Solution.DO/obj/Debug/netcoreapp3.1/Solution.DO.pdb
.vs/Horus.API/config/applicationhost.config
.vs/Horus.API/DesignTimeBuild/.dtbcache.v2
.vs/Horus.API/v16/.suo
